.container-contact{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    @include tablet{flex-direction: column;}
    .box-left{
        height: 100%;
        width: 75%;
        @include tablet{
            width: 100%;
        
        }
        .contact-text{
            // text container
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @include tablet{width:auto ;}
            //h1 properties
            h1{
                font-family: $fontSpecial;
                font-size: $font-title-desk;
                letter-spacing: 18px;
                height: 39%;
                display: flex;
                align-items: center;
                margin-left: 5%;
                @include tablet{
                    font-size: $font-title-tablet;
                    height: 30%;
                }
                @include mobile{
                    font-size: $font-title-mob;
                    letter-spacing: 10px;
                }
            }
            //main text-area background-color and form
            .background-color{
                background-color: $grey;
                border-right: 4px solid;
                width: 100%;
                height: 98%;
                //contact-form
                .contact-form{
                        padding-left: 33px;
                        height: 80%;
                    display: flex;
                    flex-direction: column;
                     justify-content: center;
                    @include tablet{ justify-content: flex-start;}
                     
                    .paragraph{
                        margin-left: 20px;
                        @include mobile{
                            margin-left: 0;
                        }
                        h3{
                            font-family: $fontMuseo;
                            font-weight: 600;
                            font-size: $font-h3-desktop;
                            line-height: 44.52px;
                            width: 600px;
                            margin-top: 10px;
                            @include mobile{
                                font-size: $font-h3-mob;
                                width: 390px;
                            }
                        }
                        p{
                            font-family: $fontMuseo;
                            font-weight: 400;
                            font-size: $font-paragraph-desk;
                            line-height: 44.52px;
                            width: 600px;
                            margin-top: 10px;
                            letter-spacing: 2px;
                            @include mobile{
                                font-size: $font-paragraph-mobile;
                                width: $paragraph-mobile;
                                line-height: 31.52px;
                            }
                            a{
                                color: #101010;
                                text-decoration-color: $peach-dark;
                                &:hover{
                                    color: $peach-dark;
                                    cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
        }

        
        .button{
             width: 95%;
             button{ background-color: #101010;}
             button:hover{background-color: white !important;}
             a{ color: white;}
             a:hover{color: $peach-dark !important;}
        }
        
    }
    .box-right{
          width: 50%;
          height: 100%;
          @include tablet{
            height: 300px;
            width: 100%;
        }
        @include mobile{
            height: 35%;
        }
        .grid-box{
           
            height: 100%;
            display: grid;
            grid-template-columns: 60% 40%;
            @include tablet{
                display: flex;
                flex-direction: row-reverse;
            }
            .image-sxedio{
                z-index: 2;
               img{
                @include tablet{
                    width: 230px;
                }
                @include mobile{
                    width: 195px;
                }
               }
             }
             .green-box{
               height: 100%;
               width:100%;
               background-color: $mint;
               z-index: 1; 
               @include tablet{
                height: 70%;
               } 
               @include mobile{
                height: 38%;
            }
             }
        }
        .email-box{
            width: 100%;
            border-top: 4px solid;
            position: relative;
            bottom: 30%;
            padding: 20px;
            z-index: 3;
            @include tablet{
                bottom: 100%;
            }
            .email{
                font-weight: 600;
                font-size: 34px;
                @include tablet{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 23px;
                }
            }
            p{
                font-family: $fontMuseo;
                font-size: $font-paragraph-desk ;
                line-height: 59px;
                @include tablet{
                    font-size: 20px;
                    line-height: 19px;
                }
                @include mobile{
                    font-size: 16px;
                }
            }
            
          }
          
      
    }
}