

.outer-section{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    //general styling of img and text
   
          .inner-box{
            height: 100%;
            width: 85%;
            display: grid;
            grid-template-columns: repeat(2,auto); 
            grid-template-rows: repeat(3,400px);
            grid-gap: 10px;
           margin: 10px auto;
            overflow: auto;
            @include tablet{
              grid-template-rows: repeat(3,200px);
            }
            @include mobile{
              grid-template-columns: auto;
              grid-template-rows: repeat(6,300px);
            }
            .item{
                height: 96%;
                width: 85%;
              }
          }
              
              
              //grid-alocation
              .space-travel{
                //grid-row: 1/1;
                //grid-column: 1/2;
                img{
                    object-position: left center;
                  }
              }
            
              .documentation{
                
                img{
                    object-position: left center;
                  }
              }
              .qr-code{
                
                img{
                    object-position: center;
                  }
              }
              
              .item:hover img.zoom{
                transform: scale(1.1);
              }
              .item:hover img.blur{
                filter: blur(4px);
              }
              
              .item:hover .content{
                opacity: 1;
                transform: translateY(-100%);
              }
    
    
}


