

.container{
  width: $container-width-g;
  height: $container-height-g;
  display: flex;
  justify-content: center;
  align-items: center;
 overflow: hidden;
}
 .container .container-main{
    display: flex;
    position: relative;
    width: $container-width-g - 4vw;
    height: $container-height-g - 5vh;
    max-width: 1720px;
    max-height: 1010px;
    background-color: #f8f8f8; // was white
    margin: 0 auto;
    border: 3px solid $black-color; //was black
    border-radius: 5px;
    
 }
 .container .container-main .container-pages{
  position: relative;
   width: 100%;
   overflow-x: hidden;
   @include tablet{
    //background-color: yellow;
   }
  //  @include mobile{
  //   background-color: pink;
  //  }
 }
 