@import "./variables";
@import "./HomePage.scss";
@import "./Layout.scss";
@import "./sidebar.scss";
@import "./About";
@import './Contact';
@import "./Project";
@import "./Form";
@import "./AnimatedLetters";
@import "./TextSphere";
@import "./modal";
@import "./imageGallery";
@import "./galleria";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: pointer;
}



input, textarea{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-family: $fontMuseo;
}
p{
  font-family: $fontMuseo;
}
body{
  overflow: hidden;
}
.cv{
  justify-content: center;

  .main-cont{
    @include mobile{
      width: 100%;
      height: auto;
      display: flex;
    }
    
}
}
.cv .react-pdf__Page{
  height: 800px;
}